body {
    background-color: #ffC900;
}

h1 a {
    color: brown;
}

.header {
    background-color: #ffC900;
    padding: 25px;
    text-align: center;
}

.header2 {
    background-color: #ffd500;
    padding: 13px;
    padding-left: 40px;
}

.button {
    float: right;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 12px;
    padding-bottom: 10px;
    background: #ffa10a;
    border: 5px solid #0F0000;
    border-radius: 50px;
}

.button2 {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ffa10a;
    border: 5px solid #0F0000;
    border-radius: 50px;
}

.admbutton {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}

.usredit {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
    border: 5px solid brown;
    color: black;
}

h2 a {
    color: brown;
}

h3 a {
    color: brown;
}

.thread {
    border: 5px solid brown;
    border-radius: 30px;
    background-color: darkorange;
    color: brown;
    padding: 5px;
    padding-left: 40px;
}

.date {
    padding-top: 20px;
    float: right;
    padding-right: 50px;
}

.from {
    float: right;
    padding: 12px;
    padding-right: 50px;
    color: brown;
}


