{% extends 'forumapp/base.html' %}

{% block content %}


    {% if user.is_authenticated %}
        <div class="button">
            <h2> <a href="{% url 'logout' %}">Log out</a></h2>
        </div>

        <div class="button">
            <h2> <a href="{% url 'thread_new' %}">New thread</a></h2>
        </div>

        <div class="button">
            <h2>Logged in as <a href={% url 'user' pk=request.user.pk %}>{{ request.user.username }}</a></h2>
        </div>
    {% else %}
        <div class="button">
            <h2> <a href="{% url 'signup' %}">Sign up</a></h2>
        </div>

        <div class="button">
            <h2> <a href="{% url 'login' %}">Login</a></h2>
        </div>
    {% endif %}


    <div class="header2">
        <h2>Threads</h2>
    </div>



    {% for thread in threads %}
        <div class="date">
            <p>Modified</p>
            <p>{{ thread.last_modified }}</p>
        </div>

        <div class="date">
            <p>Created</p>
            <p>{{ thread.created_date }}</p>
        </div>

        <div class="date">
            <p>Author</p>
            <p><a href={% url 'user' pk=thread.author.pk %}>{{ thread.author }}</a></p>
        </div>

        {% if user.is_superuser %}
            <div class="admbutton">
                <h4><a href={% url 'delete_thread' pk=thread.pk %}>DELETE THREAD</a></h4>
            </div>
        {% endif %}

        <div class="thread">
            <h2> <a href="{% url 'thread' pk=thread.pk %}">{{ thread.title }}</a></h2>
        </div>
    {% endfor %}

{% endblock %}